%box-shadow{
  box-shadow: -5px -5px 8px -1px rgba(255,255,255,.7),5px 5px 8px -1px rgba(0,0,0,.065);
  -moz-box-shadow: -5px -5px 8px -1px rgba(255,255,255,.7),5px 5px 8px -1px rgba(0,0,0,.065);
  -webkit-box-shadow: -5px -5px 8px -1px rgba(255,255,255,.7),5px 5px 8px -1px rgba(0,0,0,.065);
}