/**
* @desc         mixins of the app.
* @requires     variables.scss
*/

@mixin boxShadow($property) {
  box-shadow: $property;
  -webkit-box-shadow: $property;
  -moz-box-shadow: $property;
}

@mixin transition($property) {
  transition: $property;
  -webkit-transition: $property;
  -moz-transition: $property;
}

@mixin maxContentWidth {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    @content;
  }
  &:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    @content;
  }
  &::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    @content;
  }
  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    @content;
  }
  &::-ms-input-placeholder {
    /* Microsoft Edge */
    @content;
  }
  &::placeholder {
    /* Most modern browsers support this now. */
    @content;
  }
}

@mixin scrollbar {
  /* width */
  &::-webkit-scrollbar {
    width: 0.8rem;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 3rem;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background-color: #a8bbbf;
    border-radius: 3rem;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }

  scrollbar-width: thin;
  scrollbar-color: #a8bbbf;
}

@mixin bg-gradient-1 {
  background: $color-1;
  background: -webkit-gradient(linear, left top, right top, from($color-1), to($color-2));
  background: linear-gradient(to right, $color-1, $color-2);
}
@mixin bg-gradient-2 {
  background: $color-2;
  background: -webkit-gradient(linear, left top, right top, from($color-2), to($color-2-light));
  background: linear-gradient(to right, $color-2, $color-2-light);
}
@mixin bg-gradient-3 {
  background: #a5a5a5;
  background: -webkit-gradient(linear, left top, right top, from(#a5a5a5), to(#636363));
  background: linear-gradient(to right, #a5a5a5, #636363);
}
@mixin bg-disabled {
  background: #989898;
  background: -webkit-gradient(linear, left top, right top, from(#989898), to(#888888));
  background: linear-gradient(to right, #989898, #888888);
}

// responsive breakpoint manager
@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(type-of($raw-query) == "string", unquote($raw-query), inspect($raw-query));

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
           + 'Make sure you have passed a valid value as defined in `$breakpoints` map in variables.scss.';
  }
}
