/**
* @desc         set up variables.
* @requires     none
*/

// [color - variables]
$color-1: #ff7f00;
$color-2: #ef4136;
$color-3: #666666;
$color-4: #b2b1ad;

$color-1-light: #ffcd62;
$color-2-light :#636363;
//$color-3-light : #000;
//$color-4-light : #000;

//$color-1-xlight: #e4d0f5;
//$color-2-xlight :#fd6069;
//$color-3-xlight : #000;
//$color-4-xlight : #000;

$color-1-dark: #d29a25;
$color-2-dark : #bf1004;
//$color-3-dark : #000;
//$color-4-dark : #000;

//$color-1-disabled: #2d7a9c;
$color-2-disabled : #ff9892;
//$color-3-disabled : #000;
//$color-4-disabled : #000;

// transparent
$transparent-color: transparent;

// whites
$white-color-1: #ffffff;

// Default Body Background
$body-background: #F3F3F3;

// grays
$gray-color-1: #f4f6f8;
$gray-color-2: #d2dae2;
$gray-color-3: #8c96a9;
$gray-color-4: #485460;
$gray-color-5: #333333;
$gray-color-6: #1d2b33;

$success-color: #0f6c75;
$danger-color: #f44336;

// [Font - variables]
$font-family-1: "IRANSans", sans-serif;
//$font-family-2: "Tanha", sans-serif;
$font-family-code: Consolas, Monaco, "Lucida Console", monospace;


// font weights
$font-w-light: 300;
$font-w-regular: 400;
$font-w-medium: 500;
$font-w-semi-bold: 600;
$font-w-bold: 700;

// font size
$font-s-xsmall: .8rem;
$font-s-small: .9rem;
$font-s-regular: 1rem; // -> base size
$font-s-medium: 1.1rem; 
$font-s-big: 1.2rem;
$font-s-large: 1.5rem; // ->  x size
$font-s-xlarge: 1.7rem; // -> xx size
$font-s-xxlarge: 2rem;
$font-s-xxxlarge: 2.5rem;

// inline hights
$base-line-height: normal;


// [text - variables]
// text colors
$text-primary-color: $color-1-dark;
$text-default-color: $gray-color-4;
$text-tone-light-color: $gray-color-2;
$text-toned-color: $gray-color-3;
$text-title-color: $gray-color-4;
$text-hover-color: $text-primary-color;
$text-white-color: $white-color-1;

// [border - variables]
// border colors
//$border-default-color: $gray-color-2;
//$border-primary-color: $primary-dark-color;
//$border-white-color: $white-color-1;

// border radius
$border-radius: 2px;
$border-radius-1: 2px;
$border-radius-2: 4px;
$border-radius-3: 6px;
$border-radius-4: 8px;



// [action - variables]
// hover
//$primary-hover-color-1: rgba($primary-dark-color, 0.2);
//$primary-hover-color-2: rgba($primary-dark-color, 0.4);
//$primary-hover-color-3: rgba($primary-dark-color, 0.6);



// [breakpoint - variables]
// breakpoints
$breakpoints: (
  "sm": (
    min-width: 576px
  ),
  "md": (
    min-width: 768px
  ),
  "lg": (
    min-width: 992px
  ),
  "xl": (
    min-width: 1200px
  )
);

