.ltr-input {
    direction: ltr;
}

.prefix-group {
    display: flex;
    width: 100%;
    input.prefix-group__input{
        border-radius: 0 6rem 6rem 0;
    }
    &__box {
        display: flex;
        font-weight: $font-w-regular;
        color: $success-color;
        background-color: #f5f5f5;
        text-align: center;
        border-radius: 6rem 0 0 6rem;
    }
    &__item {
        padding: 0 1.5rem;
        font-size: 1.2rem;
        align-self: center;
        line-height: 0;
    }
}
