@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 900;
	src: url('../../fonts/iransans-font/eot/IRANSansWeb-FaNum-Black.eot');
	src: url('../../fonts/iransans-font/eot/IRANSansWeb-FaNum-Black.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../fonts/iransans-font/woff2/IRANSansWeb-FaNum-Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../fonts/iransans-font/woff/IRANSansWeb-FaNum-Black.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../fonts/iransans-font/ttf/IRANSansWeb-FaNum-Black.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: bold;
	src: url('../../fonts/iransans-font/eot/IRANSansWeb-FaNum-Bold.eot');
	src: url('../../fonts/iransans-font/eot/IRANSansWeb-FaNum-Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../fonts/iransans-font/woff2/IRANSansWeb-FaNum-Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../fonts/iransans-font/woff/IRANSansWeb-FaNum-Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../fonts/iransans-font/ttf/IRANSansWeb-FaNum-Bold.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	src: url('../../fonts/iransans-font/eot/IRANSansWeb-FaNum-Medium.eot');
	src: url('../../fonts/iransans-font/eot/IRANSansWeb-FaNum-Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../fonts/iransans-font/woff2/IRANSansWeb-FaNum-Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../fonts/iransans-font/woff/IRANSansWeb-FaNum-Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../fonts/iransans-font/ttf/IRANSansWeb-FaNum-Medium.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 300;
	src: url('../../fonts/iransans-font/eot/IRANSansWeb-FaNum-Light.eot');
	src: url('../../fonts/iransans-font/eot/IRANSansWeb-FaNum-Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../fonts/iransans-font/woff2/IRANSansWeb-FaNum-Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../fonts/iransans-font/woff/IRANSansWeb-FaNum-Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../fonts/iransans-font/ttf/IRANSansWeb-FaNum-Light.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 200;
	src: url('../../fonts/iransans-font/eot/IRANSansWeb-FaNum-UltraLight.eot');
	src: url('../../fonts/iransans-font/eot/IRANSansWeb-FaNum-UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../fonts/iransans-font/woff2/IRANSansWeb-FaNum-UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../fonts/iransans-font/woff/IRANSansWeb-FaNum-UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../fonts/iransans-font/ttf/IRANSansWeb-FaNum-UltraLight.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('../../fonts/iransans-font/eot/IRANSansWeb-FaNum.eot');
	src: url('../../fonts/iransans-font/eot/IRANSansWeb-FaNum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../fonts/iransans-font/woff2/IRANSansWeb-FaNum.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../../fonts/iransans-font/woff/IRANSansWeb-FaNum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../fonts/iransans-font/ttf/IRANSansWeb-FaNum.ttf') format('truetype');
}