.breadcrumb-section {
    padding: 1.5rem 0;
    background: $color-1;
    background: linear-gradient(90deg, $color-1 0%, $color-2 100%);
    &_is-rounded {
        border-radius: 0 0 2rem 2rem;
    }
}

@media (min-width: 768px) {
    .breadcrumb-section {
        &_hide-in-desktop{
            display: none;
        }
    }
}
@media (min-width: 992px) {
    .breadcrumb-section {
        border-radius: 0;
    }
}

.c-breadcrumb {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    .c-breadcrumb__right {
        flex: 0 1 auto;
        margin-left: 0.8rem;
    }
    .c-breadcrumb__left {
        flex: 0 1 auto;
        align-self: center;
    }
    .c-breadcrumb__link {
        display: inline-block;
        color: white;
        font-size: 2rem;
        line-height: 1.3;
        background: none;
        border: none;
        padding: 0 0.5rem;
    }
    .c-breadcrumb__title {
        font-size: 1.83rem;
        color: white;
        font-weight: $font-w-semi-bold;
        line-height: 1;
        margin-bottom: 0.5rem;
    }
    .c-breadcrumb__subtitle {
        font-size: 1.2rem;
        font-weight: $font-w-regular;
        color: #f1f1f1;
        margin-bottom: 0;
    }
}

@media (min-width: 1200px) {
    .c-breadcrumb {
        justify-content: center;
    }
}
