.date-item{
    background-color: #ececec;
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 1rem;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
    &__box{
        font-size: 1.2rem;
        &:last-child{
            width: 20%;
            font-size: 1rem;
            text-align: right;
        }
    }
    &__icon{
        width: 1.3rem;
        margin-right: 0.5rem;
    }
}