.gi-btn {
    display: inline-block;
    font-weight: $font-w-regular;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: $font-s-regular;
    line-height: 1.5;
    border-radius: 0.1rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;

    &:focus {
        outline: none;
    }
}

@media (prefers-reduced-motion: reduce) {
    .gi-btn {
        transition: none;
    }
}

.gi-btn.disabled,
.gi-btn:disabled {
    opacity: 0.65;
}
a.gi-btn.disabled,
fieldset:disabled a.gi-btn {
    pointer-events: none;
}

.gi-btn-block {
    display: block;
    width: 100%;
}

.gi-btn-sumbit {
    display: block;
    @include bg-gradient-1;
    width: 100%;
    padding: 1rem 0;
    border-radius: 3rem;
    color: white;
    border: none;
    font-size: 1.3rem;
}
.gi-btn-cancel {
    display: block;
    @include bg-gradient-3;
    width: 100%;
    padding: 1rem 0;
    border-radius: 3rem;
    color: white;
    border: none;
    font-size: 1.3rem;
}

.gi-btn-addTodo{
    background-color: #bdbdbd;
    border-radius: 0.2rem;
    color: white;
    font-size: 1.2rem;
    &:hover{
        background-color: #6b6b6b;
    }
}