.gi-box{
    position: relative;
    background-color: white;
    border-radius: 1rem;
    border: 1px solid #f3f3f3;
    padding: 1rem;
    margin-bottom: 2rem;
    @include boxShadow(0px 7px 6px -3px #e0e0e0);
}