.intro-content{
    text-align: center;
}
.intro-message{
    font-size: 1.6rem;
    font-weight: $font-w-medium;
    margin-bottom: 1rem;
    &__name{
        font-weight: $font-w-semi-bold;
        color: black;

    }
}
.intro-button{
    @include bg-gradient-1;
    color: white;
    font-size: 1.3rem;
    padding: 0.8rem 1.4rem;
    border-radius: 3rem;
    &:hover{
        color: white;
    }
}