.loading {
    position: fixed;
    content: "";
    height: 4px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    opacity: 0;
    background: #ffa955;
    @include transition (opacity 1s ease-in-out);
    animation: loading 1s infinite;
    -webkit-animation: loading 1s infinite;
    -moz-animation: loading 1s infinite;
    &_is-active{
        opacity: 1;
    }
}

@keyframes loading {
    0% {
        background: #ffa955;
    }
    50% {
        background: #af0a00;
    }
    100% {
        background: #ffa955;
    }
}
@-webkit-keyframes loading {
    0% {
        background: #ffa955;
    }
    50% {
        background: #af0a00;
    }
    100% {
        background: #ffa955;
    }
}
@-moz-keyframes loading {
    0% {
        background: #ffa955;
    }
    50% {
        background: #af0a00;
    }
    100% {
        background: #ffa955;
    }
}
