.mobile-navbar{
    padding: 2rem 1rem;
    &__list{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    &__link{
        display: block;
        font-size: 1.3rem;
        color: black;
        padding: 0.5rem 0;
        margin-bottom: 0.5rem;
        &.active{
            color: $color-1;
        }
    }
    &__icon{
        width: 2rem;
        margin-left: 0.8rem;
    }
}