.mobile-side-panel {
    &__content {
        position: fixed;
        top: 0;
        right: -100%;
        width: 75%;
        height: 100%;
        background-color: white;
        z-index: 999;
        transition: right 0.2s ease-in-out;
        @include boxShadow(2px 0 9px -4px rgba(0, 0, 0, 1));
    }
    &__overlay {
        display: none;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.42);
        z-index: 998;
    }
    &_is-open {
        .mobile-side-panel__overlay {
            display: block;
        }
        .mobile-side-panel__content {
            right: 0;
        }
    }
}

.mobile-menu{
    &__header {
        padding: 1rem;
        text-align: center;
        border-bottom: 1px solid #efefef;
    }
    &__body {
        padding: 1rem;
    }
}

.mobile-side-panel-open {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.mobile-logo {
    &__image {
        width: 15rem;
        max-width: 100%;
    }
}
