/*=============================================
    =    Start Navbar Style     =
=============================================*/

.main-menu {
    .main-menu__list {
        list-style: none;
        padding: 0;
        margin-bottom: 0;
    }

    .main-menu__item {
        display: inline-block;
        margin-left: 2rem;
    }

    .main-menu__icon {
        padding-left: 0.5rem;
        color: #445579;
        width: 2rem;
    }

    .main-menu__link {
        display: inline-block;
        padding: 1rem 0;
        color: #445579;
        font-size: 1.2rem;
        font-weight: $font-w-medium;
        &:hover {
            color: #445579;
        }
        &.active {
            color: $color-1;
            padding-bottom: 0.6rem;
            border-bottom: 0.4rem solid #ff7f00;
            color: #ff7f00;
            font-weight: 400;
            .main-menu__icon {
                color: $color-1;
            }
        }
    }
}
/*=======  End Of Navbar Style  ========*/
