.todo-list-section{
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
}
.todo-list{
    position: relative;
    background-color: white;
    border-radius: 1rem;
    border: 1px solid #f3f3f3;
    margin-bottom: 2rem;
    flex: 0 0 100%;
    @include boxShadow(0px 7px 6px -3px #e0e0e0);
    margin-left: 1rem;
    @include respond-to(md){
        flex: 0 0 48%; 
    }
    @include respond-to(lg){
        flex: 0 0 24%; 
    }
    &__header{
        border-bottom: 1px dashed #efefef;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }
    &__body{
        min-height: 4rem;
        padding: 1rem;
    }
    &__title{
        margin-bottom: 0;
    }
}
.todo-list-edit{
    color: #0065ad;
}
.todo-list-delete{
    color: #bf1004;
}