.todo-item{
    border: 1px solid #f7f7f7;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
    background: #fbfbfb;
    &__header{
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__body{
        padding: 0.5rem;
    }
    &__footer{
        padding: 0 1rem 1rem 1rem;     
    }
    &--is-completed{
        background-color: #feffb3;
    }
}
.todo-author{
    position: relative;
    padding-right: 2rem;
    margin-bottom: 0;
    &__icon{
        position: absolute;
        width: 1.5rem;
        right: 0;
        top: 40%;
        transform: translateY(-50%);
    }
}
.todo-item-delete{
    color: #bf1004;
}

.todo-input-group{
    position: relative;
    .form-control{
        padding-left: 3.5rem;
    }
}
.todo-item-edit{
    position: absolute;
    color: #0065ad;
    top: 46%;
    transform: translateY(-50%);
    left: 0.3rem;
}

.todo-item-status{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    cursor: pointer;
    user-select: none;
    &__input{
        margin-left: 0.5rem;
    }
}