.auth-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    &__left {
        flex: 1 0 100%;
        text-align: center;
        @include respond-to(md) {
            flex: 1 0 50%;
        }
    }
    &__right {
        flex: 1 0 100%;
        text-align: center;
        @include bg-gradient-1;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90%, 0 100%);
        @include respond-to(md) {
            flex: 1 0 50%;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 10% 50%);
        }
    }
    &__wrapper {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}


.auth-form {
    padding: 0 4rem;
    @include respond-to(lg){
        padding: 0 1rem;
    }
    &__title{
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
    &__title-seprator{
        position: relative;
        top: 0.3rem;
        color: $color-1;
    }
}

.auth-content {
    &__title {
        color: $white-color-1;
    }
    &__image {
        max-width: 20rem;
        height: auto;
    }
}

.aca-button {
    font-size: $font-s-medium;
    font-weight: $font-w-semi-bold;
    background: none;
    color: $color-3;
    border: none;
    border-bottom: 1px dashed $color-3;
    padding-bottom: 0.3rem;
}
.aca-forgot-password {
    font-size: $font-s-medium;
    font-weight: $font-w-semi-bold;
    color: $color-4;
}
