/**
* @desc         not found page styles.
* @requires     variables.scss, mixins.scss, 
*/

.not-found-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @include respond-to("lg") {
    margin-top: 115px;
  }
  section {
    display: flex;
    justify-content: center;
    color: $text-primary-color;
    align-items: center;
    flex-direction: column;
    h1 {
      max-width: 370px;
      text-align: center;
    }
  }

  figure {
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 700px;
    img {
      width: 100%;
    }
  }
}
