.auth-form-group {
    margin-bottom: 1rem;
}
.auth-input-group {
    position: relative;
}
.auth-input {
    height: 4rem;
    border: 1px solid #ebedf2;
    transition: 0.3s ease;
    font-size: $font-s-big;
    font-weight: $font-w-regular;
    border-radius: 3rem;
    display: block;
    width: 100%;
    color: $color-3;
    background-color: #fff;
    background-clip: padding-box;
    direction: ltr;
    text-align: center;
    padding: 0.2rem 3.5rem 0.2rem 3.4rem;
    letter-spacing: 1px;
    @include placeholder {
        font-size: $font-s-medium;
        font-weight: $font-w-regular;
    }

    &_has-prepend {
        padding: 0.2rem 3.5rem 0.2rem 6rem;
    }

    &:focus {
        border: 1px solid $color-1;
        ~ .auth-icon {
            color: $color-1;
        }
    }
    &:disabled {
        background-color: #fffcea;
        font-weight: 400;
        font-size: 1.4rem;
        letter-spacing: 1px;
        color: #7d6e00;
        ~ .auth-icon {
            color:  #7d6e00;
        }
    }
}

.auth-icon {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-55%);
    color: $color-4;
    font-size: 1.8rem;
    line-height: 0;
}

.auth-hint {
    display: block;
    font-size: 1rem;
    font-weight: $font-w-regular;
    color: #505050;
    margin-top: 0.2rem;
    text-align: right;
    margin-right: 1rem;
    color: red;
}

.auth-form-button{
    display: block;
    @include bg-gradient-1;
    width: 100%;
    padding: 1rem 0;
    border-radius: 3rem;
    color: white;
    border: none;
    font-size: 1.3rem;
}