/*=============================================
    =    Start Header Style     =
=============================================*/
.header {
    min-height: 2rem;
    background:  white;
    @include boxShadow(0 -5px 13px #9a9a9a);
    display: none;
    @include respond-to(xl){
        display: block;
    }
}

.site-logo {
}

/*=======  End Of Header Style  ========*/