.page-header {
    padding: 0;
    @include bg-gradient-1;
    height: 8rem;
    border-radius: 0 0 3rem 3rem;
    margin-bottom: 14rem;
    z-index: 9;
    position: relative;
    @include respond-to(lg) {
        margin-bottom: 8rem;
    }
}